@charset "utf-8";

/*

<div class="container">
        <div class="search-box">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Enter your location">
            <button type="submit" class="fa-solid fa-magnifying-glass" title="Search"></button>
        </div>
        <div class="not-found">
            <img src="images/404.png" alt="">
            <p>Oops! Invalid location :/</p>
        </div>
        <div class="weather-box">
            <img src="" alt="">
            <p class="temperature"></p>
            <p class="description"></p>
        </div>
        <div class="weather-details">
            <div class="humidity">
                <i class="fa-solid fa-droplet"></i>
                <div class="text">
                    <span></span>
                    <p>Humidity</p>
                </div>
            </div>
            <div class="wind">
                <i class="fa-solid fa-wind"></i>
                <div class="text">
                    <span></span>
                    <p>Wind Speed</p>
                </div>
            </div>
            <div class="pressure">
                <i class="fa-solid fa-tachometer"></i>
                <div class="text">
                    <span></span>
                    <p>Pressure</p>
                </div>
            </div>
            <div class="visibility">
                <i class="fa-solid fa-eye"></i>
                <div class="text">
                    <span></span>
                    <p>Visibility</p>
                </div>
            </div>
            <div class="sunrise">
                <i class="fa-solid fa-sunrise"></i>
                <div class="text">
                    <span></span>
                    <p>Sunrise</p>
                </div>
            </div>
            <div class="sunset">
                <i class="fa-solid fa-sunset"></i>
                <div class="text">
                    <span></span>
                    <p>Sunset</p>
                </div>
            </div>
        </div>
    </div>
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #01141f;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    position: relative;
    width: 400px;
    height: 100px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    text-align: center;
    width: 80%;
    border:none;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    margin-left: 20px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button{
    color: #148bd5;
    background: #dff6ff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
    cursor: pointer;
}

.search-box button:hover{
    color: #fff;
    background: #157cbb;
}

.search-box i{
    position: absolute;
    color: #c41818;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 50%;
    margin-top: 30px;
}

.temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 30px;
    margin-left: -16px;
}

.temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.description{
    color: #06283D;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 30px;
    place-items: center;
}

.humidity, 
.wind, 
.pressure, 
.visibility, 
.sunrise, 
.sunset {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 25px;   
}

.weather-details .humidity i{
    color:rgb(1, 195, 195);
}

.weather-details .wind i{
    color: #79bce6;
}

.weather-details .pressure i{
    color: #f54d23;
}

.weather-details .visibility i{
    color: #f5a623;
}

.weather-details i{
    font-size: 35px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283D;
    font-size: 20px;
    font-weight: 600;
}

.weather-details .humidity p, 
.weather-details .wind p, 
.weather-details .pressure p, 
.weather-details .visibility p{
    font-size: 16px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}