name: Azure Static Web Apps Weather App CI/CD
run-name: weather app building and deployment
on:
  push:
    branches:
      - main # default branch
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: building and deployment
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install
      - name: Create .env file
        run: |
          echo "APP_LOCATION=${{ secrets.APP_LOCATION }}" >> .env
          echo "API_LOCATION=${{ secrets.API_LOCATION }}" >> .env
          echo "OUTPUT_LOCATION=${{ secrets.OUTPUT_LOCATION }}" >> .env
      - name: building application
        run: npm run build
      - name: Azure Static Web Apps and API token and location
        uses: azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: ${{ secrets.APP_LOCATION }}
          api_location: ${{ secrets.API_LOCATION }}
          output_location: ${{ secrets.OUTPUT_LOCATION }}
